body{
    background-color: white;
}

main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    padding-left:0;
}

div.pokemonListe{
    display:grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
}

div.pokemonCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: rgb(17, 17, 71);
    border-radius: 10px;
}

.pokemonImg{
    max-width: 110px;
}

/*******************************
********************************
HEADER**********************
********************************
*******************************/

header{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    gap:50px;
}

.websiteName{
    font-size: 3em;
    font-weight: 1000;
    line-height: 0em;
}

header p{
    text-align: center;
}

header nav ul{
    font-size: 1.5em;
    gap:30px;
}

/*******************************
********************************
TYPEVSTYPE**********************
********************************
*******************************/

form{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: auto auto;
    gap: 50px;
    width: 100%;
}

.leftColumn{
    grid-column: 1;
}

.centerColumn{
    grid-column: 2;
}

.rightColumn{
    grid-column: 3;
}

input[type="radio"]{
    display: none;
}

label input[type="radio"]:checked + img{
    background-color: green;
    border: solid 2px green;
    border-radius: 3px;
}

/*******************************
********************************
POKEMONVSPOKEMON****************
********************************
*******************************/

form label.labelPokemon{
    display:inline-block;
}

div.pokemonvspokemonResult{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap:30px;
    align-items: center;
    color:white;
}

div.pokemonvspokemonResult > * {
    width: auto;
}


div.winner{
    background-color: rgb(39, 102, 39);
}

div.loser{
    background-color: rgb(173, 35, 35);
}

div.draw{
    background-color: rgb(90, 90, 90);
}

div.arrow{
    color:black;
    font-size: 3em;
    text-align: center;
}
